In [1]:
##Flight Price Prediction (EDA + Feature Engineering)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_df = pd.read_excel('FlightPrice_Train.xlsx')

In [4]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
test_df = pd.read_excel('FlightPrice_Test.xlsx')

In [6]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
final_df = train_df.append(test_df)

In [8]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [9]:
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [10]:
final_df['Date_of_Journey'].str.split('/').str[0]

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [11]:
## Feature Engineering - Derived features
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

In [12]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 1.5+ MB

In [15]:
final_df['Date'] = final_df['Date'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)

In [16]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [17]:
final_df.drop('Date_of_Journey', axis=1, inplace=True)

In [18]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [19]:
final_df['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [20]:
final_df['Arrival_Time'] = final_df['Arrival_Time'].str.split(' ').str[0]

In [21]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019

In [22]:
 final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [23]:
final_df['Arrival Hour'] = final_df['Arrival_Time'].str.split(':').str[0]

In [24]:
final_df['Arrival Minutes'] = final_df['Arrival_Time'].str.split(':').str[1]

In [25]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [27]:
final_df.drop('Arrival_Time', axis=1,inplace=True)

In [31]:
final_df['Arrival Hour'] = final_df['Arrival Hour'].astype(int)
final_df['Arrival Minutes'] = final_df['Arrival Minutes'].astype(int)

In [32]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int64
 10  Month            13354 non-null  int64
 11  Year             13354 non-null  int64
 12  Arrival Hour     13354 non-null  int64
 13  Arrival Minutes  13354 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.5+ MB

In [33]:
final_df['Dep_Hour'] = final_df['Dep_Time'].str.split(':').str[0]

In [34]:
final_df['Dep_Minutes'] = final_df['Dep_Time'].str.split(':').str[1]

In [35]:
final_df['Dep_Hour'] = final_df['Dep_Hour'].astype(int)
final_df['Dep_Minutes'] = final_df['Dep_Minutes'].astype(int)
final_df.drop('Dep_Time', axis=1,inplace=True)

In [36]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival Hour     13354 non-null  int64
 12  Arrival Minutes  13354 non-null  int64
 13  Dep_Hour         13354 non-null  int64
 14  Dep_Minutes      13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

In [37]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [38]:
final_df['Total_Stops'].isnull().sum()

1

In [40]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,6,6,9,45

In [41]:
final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2, '3 stops':3, '4 stops': 4, 'nan': 1})

0       0.0
1       2.0
2       2.0
3       1.0
4       1.0
       ...
2666    1.0
2667    0.0
2668    1.0
2669    1.0
2670    1.0
Name: Total_Stops, Length: 13354, dtype: float64

In [42]:
final_df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,24,24,22,20

In [43]:
final_df.drop('Route', axis = 1, inplace=True)

In [44]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897.0,24,3,2019,24,24,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662.0,1,5,2019,1,1,5,50
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882.0,9,6,2019,9,9,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218.0,12,5,2019,12,12,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302.0,1,3,2019,1,1,16,50

In [45]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [46]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  object
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival Hour     13354 non-null  int64
 11  Arrival Minutes  13354 non-null  int64
 12  Dep_Hour         13354 non-null  int64
 13  Dep_Minutes      13354 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 1.5+ MB

In [47]:
# converting duration to minutes
final_df['Duration'].str.split(' ').str[0]

0        2h
1        7h
2       19h
3        5h
4        4h
       ...
2666    23h
2667     2h
2668     6h
2669    15h
2670    14h
Name: Duration, Length: 13354, dtype: object

In [50]:
final_df['Duration_hour'] = final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [51]:
final_df.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Duration_hour
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897.0,24,3,2019,24,24,22,20,2

In [52]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  object
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival Hour     13354 non-null  int64
 11  Arrival Minutes  13354 non-null  int64
 12  Dep_Hour         13354 non-null  int64
 13  Dep_Minutes      13354 non-null  int64
 14  Duration_hour    13354 non-null  object
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

In [54]:
final_df[final_df['Duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Duration_hour
6474,Air India,Mumbai,Hyderabad,5m,2 stops,No info,17327.0,6,3,2019,6,6,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2 stops,No info,NaN,12,3,2019,12,12,16,50,5m

In [55]:
final_df.drop(6474,axis=0,inplace=True)

In [56]:
final_df.drop(2660,axis=0,inplace=True)

In [57]:
final_df[final_df['Duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival Hour, Arrival Minutes, Dep_Hour, Dep_Minutes, Duration_hour]
Index: []

In [58]:
final_df['Duration_hour'] = final_df['Duration_hour'].astype(int)

In [122]:
final_df['Duration_hour'] = final_df['Duration_hour']*60

In [110]:
final_df['Duration_minutes'] = final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [89]:
final_df.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_minutes
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897.0,24,3,2019,24,24,22,20,2,50

In [85]:
final_df['Total_Duration'] = final_df['Duration_hour']+final_df['Duration_minutes']

TypeError: ignored

In [63]:
final_df['Duration_minutes'] = final_df['Duration_minutes'].astype(int)

ValueError: ignored

In [67]:
final_df[final_df['Duration_minutes']==nan]

NameError: ignored

In [111]:
final_df['Duration_minutes'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [115]:
final_df['Duration_minutes'] = final_df['Duration_minutes'].fillna(0)

In [116]:
final_df['Duration_minutes'].unique()

array(['50', '25', 0, '45', '30', '5', '15', '35', '10', '20', '55', '40'],
      dtype=object)

In [117]:
final_df['Duration_minutes'] = final_df['Duration_minutes'].astype(int)

In [118]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  object
 1   Source            13351 non-null  object
 2   Destination       13351 non-null  object
 3   Duration          13351 non-null  object
 4   Total_Stops       13350 non-null  object
 5   Additional_Info   13351 non-null  object
 6   Price             10681 non-null  float64
 7   Date              13351 non-null  int64
 8   Month             13351 non-null  int64
 9   Year              13351 non-null  int64
 10  Arrival Hour      13351 non-null  int64
 11  Arrival Minutes   13351 non-null  int64
 12  Dep_Hour          13351 non-null  int64
 13  Dep_Minutes       13351 non-null  int64
 14  Duration_hour     13351 non-null  int64
 15  Duration_minutes  13351 non-null  int64
dtypes: float64(1), int64(9), object(6)
memory usage: 1.7+ MB

In [123]:
final_df['Total_Duration'] = final_df['Duration_hour']+final_df['Duration_minutes']

In [124]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13351 non-null  object
 1   Source            13351 non-null  object
 2   Destination       13351 non-null  object
 3   Duration          13351 non-null  object
 4   Total_Stops       13350 non-null  object
 5   Additional_Info   13351 non-null  object
 6   Price             10681 non-null  float64
 7   Date              13351 non-null  int64
 8   Month             13351 non-null  int64
 9   Year              13351 non-null  int64
 10  Arrival Hour      13351 non-null  int64
 11  Arrival Minutes   13351 non-null  int64
 12  Dep_Hour          13351 non-null  int64
 13  Dep_Minutes       13351 non-null  int64
 14  Duration_hour     13351 non-null  int64
 15  Duration_minutes  13351 non-null  int64
 16  Total_Duration    13351 non-null  int64
dtypes: float64(1), int64(10), object(6)
memory usage: 1.8+ MB

In [125]:
final_df.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Duration_hour,Duration_minutes,Total_Duration
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897.0,24,3,2019,24,24,22,20,120,50,170

In [126]:
final_df.drop(['Duration','Duration_hour','Duration_minutes'],axis=1,inplace=True)

In [127]:
final_df.head(1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Total_Duration
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897.0,24,3,2019,24,24,22,20,170

In [128]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [129]:
from sklearn.preprocessing import LabelEncoder
labelenc = LabelEncoder()

In [131]:
final_df['Airline'] = labelenc.fit_transform(final_df['Airline'])
final_df['Source'] = labelenc.fit_transform(final_df['Source'])
final_df['Destination'] = labelenc.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = labelenc.fit_transform(final_df['Additional_Info'])

In [132]:
final_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Total_Duration
0,3,0,5,non-stop,8,3897.0,24,3,2019,24,24,22,20,170
1,1,3,0,2 stops,8,7662.0,1,5,2019,1,1,5,50,445

In [138]:
airl = np.array(final_df['Airline']).reshape(-1,1)

In [141]:
airl.shape

(13351, 1)

In [142]:
ohe.fit_transform(airl)

<13351x12 sparse matrix of type '<class 'numpy.float64'>'
	with 13351 stored elements in Compressed Sparse Row format>

In [133]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
final_df['Airline'] = ohe.fit_transform(final_df['Airline'])

ValueError: ignored

In [144]:
pd.get_dummies(final_df, columns=['Airline', 'Source', 'Destination','Additional_Info'], drop_first=True)

,Total_Stops,Price,Date,Month,Year,Arrival Hour,Arrival Minutes,Dep_Hour,Dep_Minutes,Total_Duration,...,Destination_5,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5,Additional_Info_6,Additional_Info_7,Additional_Info_8,Additional_Info_9
0,non-stop,3897.0,24,3,2019,24,24,22,20,170,...,1,0,0,0,0,0,0,0,1,0
1,2 stops,7662.0,1,5,2019,1,1,5,50,445,...,0,0,0,0,0,0,0,0,1,0
2,2 stops,13882.0,9,6,2019,9,9,9,25,1140,...,0,0,0,0,0,0,0,0,1,0
3,1 stop,6218.0,12,5,2019,12,12,18,5,325,...,0,0,0,0,0,0,0,0,1,0
4,1 stop,13302.0,1,3,2019,1,1,16,50,285,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1 stop,NaN,6,6,2019,6,6,20,30,1435,...,0,0,0,0,0,0,0,0,1,0
2667,non-stop,NaN,27,3,2019,27,27,14,20,155,...,0,0,0,0,0,0,0,0,1,0
2668,1 stop,NaN,6,3,2019,6,6,21,50,395,...,0,0,0,0,0,0,0,0,1,0
2669,1 stop,NaN,6,3,2019,6,6,4,0,915,...,0,0,0,0,0,0,0,0,1,0
2670,1 stop,NaN,15,6,2019,15,15,4,55,860,...,0,0,0,0,0,0,0,0,1,0